#nav {
    display: flex;
    justify-content: flex-start;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    width: 100vw;
    align-items: center;
}

#nav img {
    width: 5rem;
    padding:1rem 3rem;
}
#nav ul {
    display: flex;
}
#nav ul a {
    color: #eee;
    padding: 0.7rem 2rem;
    background: var(--third-color);
}
#nav ul a li {
    font-size: 2rem;
}
#nav .stratch-nav {
    position: relative;
    width: inherit;
    border-bottom: 0.1rem #eee  solid;
    right: 3vw;
    margin-left: 4vw;
}
#nav ul a.active {
    background: var(--main-color);
}
